<main class="container">
  <div class="row addmarginshow">
    <div class="col s6">
      <div class="row">
        <% if(Array.isArray(images)){ %>
          <% images.forEach(function(img) { %>
              <div class="col s6">
                <a class="searchimgsize" href="<%= img.$t %>"><img class="searchimgsize" src="<%= img.$t %>"></a>
              </div>
            <% }); %>
          <% } else { %>
        <div class="col s6">
          <a href="<%= img.$t %>"><img src="<%= img.$t %>"></a>
        </div>
        <%  } %>
      </div>
    </div>
    <div class="col s6 card">
      <div class="card-title">
        <h2>Info</h2>
      </div>
      <div class="card-content">
        <div class="row">
          <div class="col s6">
            <ol>
            <% hasBeen.forEach(function(string) { %>
              <li><%= string.$t %></li>
          <%  }); %>
            </ol>
          </div>
          <div class="col s6">
            <p>Age: <%= age %></p>
            <p>Breed:
            <% if (Array.isArray(breeds)){ %>
              <% breeds.forEach(function(breed) { %>
                <%= breed.$t %>/
                <%  }); %>
              <% } else { %>
                <%= breeds.$t %>
            <%  } %>
            </p>
            <p>Mix?: <%= mix %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 card">
      <div class="card-title">
        <h2>Description</h2>
      </div>
      <div class="card-content">
        <p><%= description %></p>
      </div>
    </div>

  </div>
</main>
