<main class="container">
  <div class="row addmarginshow">
    <div class="col s12">
      <div class="row black-borderbottom">
        <% if (images === undefined){ %>
          <div class="col s12">
            <img src="/img/noimage.jpg">
          </div>
          <% } else if(Array.isArray(images)){ %>
            <% images.forEach(function(img) { %>
              <div class="col s2">
                <img class="searchimgsize blue-border-round materialboxed marglittle" src="<%= img.$t %>">
              </div>
            <% }); %>
          <% } else { %>
        <div class="col s12">
          <a href="<%= img.$t %>"><img src="<%= img.$t %>"></a>
        </div>
        <%  } %>
      </div>
    </div>
    <div class="col s12 m6">
      <div id="map"></div>
    </div>
    <div class="col s12 m6">
      <div class="card extendCardWidth">
        <div class="card-title">
          <h2 class="margintitleLeftTop">Info</h2>
        </div>
        <div class="card-content">
          <div class="row">
            <div class="col s5 black-bordertop right">
              <% if (Array.isArray(hasBeen)){ %>
                <ol class="show-hasbeen-style margtoplittle">
                  <% hasBeen.forEach(function(string) { %>
                    <li><%= string.$t %></li>
                  <%  }); %>
                </ol>
              <% } else if (hasBeen) { %>
                <p>1. <%= hasBeen.$t %></p>
              <% } else { %>
                <p>Unfortunately some info like whether the animal is housetrained or not is unavailable</p>
              <%  } %>
            </div>
            <div class="col s7 black-bordertop nopadleft">
              <p class="margtoplittle">Age: <%= age %></p>
              <p>Breed:
              <% if (Array.isArray(breeds)){ %>
                <ul class="noTopPadMarg">
                  <% breeds.forEach(function(breed) { %>
                    <li><%= breed.$t %></li>
                  <%  }); %>
                </ul>
              <% } else { %>
                <%= breeds.$t %>
              <%  } %>
              </p>
              <p>Mix?: <%= mix %></p>
              <p class="margtoplittle">Contact: <%= contact %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 card">
      <div class="card-title">
        <h2>Description</h2>
      </div>
      <div class="card-content black-bordertop">
        <p><%= description %></p>
      </div>
    </div>
  </div>
  <script>
    console.log('hit var lat lng');
    console.log("<%= lat %>");
    console.log("<%= shelterName %>");
      var lat = parseFloat("<%= lat %>");
      var long = parseFloat("<%= long %>");
      var name = "<%= shelterName %>";
  </script>
  <script src="/js/initMap.js"></script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_QP5ng7aOi6SJK-UYAzweDWK0d5WpUIQ&callback=initMap">
  </script>
</main>
